/***************************** COLORS ******************************/
:root {
  --header-bg: #222831;
  --header-text: #ff2e63;

  --bg: #393e46;
  --note-bg: #00adb5;
  --note-header: #222831;
  --note-content: #393e46;

  --light-color1: #e3fdfd;
  --light-color2: #cbf1f5;
  --input-text: #364f6b;

  --footer-text: #ff2e63;
}
/*******************************************************************/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Comfortaa', 'Montserrat', sans-serif;
}

body {
  background: var(--bg);
  padding: 0 16px;
}


/****************************** HEADER *****************************/
header {
  background-color: var(--header-bg);
  margin: auto -1rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: var(--header-text);
  font-family: 'McLaren', cursive;
  font-weight: 200;
}

header h1 a {
  text-decoration: none;
  color: var(--header-text);
}
/*******************************************************************/


/**************************** FORM / EDIT **************************/
.form-container,
.edit-container {
  background: var(--light-color2);
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  margin: 30px auto 20px auto;
  padding: 15px;
  width: 480px;
  max-width: 99%;
  position: relative;
}

.form-container input,
.edit-container input {
  font-weight: 700;
}

.form-container input,
.form-container textarea,
.edit-container input,
.edit-container textarea {
  background-color: var(--light-color2);
  border: none;
  color: var(--input-text);
  font-family: inherit;
  font-size: 1.2rem;
  outline: none;
  padding: 4px;
  resize: none;
  width: 100%;
}

.form-container .btn,
.edit-container .btn {
  background: var(--header-text);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50%;
  color: var(--light-color1);
  cursor: pointer;
  outline: none;
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  bottom: -1rem;
  right: 1rem;
}

.form-container .btn:hover,
.edit-container .btn:hover {
  background-color: #e23e57;
}

.edit-container .btn-save {
  position: absolute;
  right: 80px;
}
/*******************************************************************/


/****************************** NOTES ******************************/
.note {
  background: var(--note-bg);
  background: linear-gradient(0deg, rgba(8, 217, 214, 1) 0%, var(--note-bg) 100%);
  border-radius: 7px;
  box-shadow: 0 2px 5px var(--bg);
  float: left;
  margin: 16px;
  padding: 10px;
  width: 240px;
}

.note:hover {
  opacity: 0.92;
}

.note h1 {
  color: var(--note-header);
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 6px;
}

.note p {
  color: var(--note-content);
  font-size: 1rem;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note .btn {
  background-color: transparent;
  border: none;
  color: var(--header-text);
  cursor: pointer;
  margin: 2% 2%;
  opacity: 9;
  outline: none;
  position: relative;
}

.note .btn-edit {
  float: left;
}

.note .btn-delete {
  float: right;
}

.note .btn:hover {
  text-shadow: 0px 0px 10px #b34180b9;
}
/*******************************************************************/


/****************************** FOOTER *****************************/
footer {
  background-color: var(--header-bg);
  text-align: center;
  padding-top: 0.8rem;
  height: 2.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer p {
  color: var(--footer-text);
}
/*******************************************************************/
