/***************************** COLORS ******************************/
:root {
  --header-bg: #222831;
  --header-text: #ff2e63;

  --bg: #393e46;
  --note-bg: #00adb5;
  --note-header: #222831;
  --note-content: #393e46;

  --light-color1: #e3fdfd;
  --light-color2: #cbf1f5;
  --input-text: #364f6b;

  --footer-text: #ff2e63;
}
/*******************************************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Comfortaa', sans-serif;
}

body {
  background: var(--bg);
  padding: 0 16px;
}

header {
  background-color: var(--header-bg);
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: var(--header-text);
  font-family: 'McLaren', cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: var(--footer-text);
}

/******************************* FORM ******************************/
form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: var(--light-color2);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form input {
  font-weight: 700;
}

form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2rem;
  font-family: inherit;
  resize: none;
  background-color: var(--light-color2);
  color: var(--input-text);
}

form button {
  position: absolute;
  right: 1rem;
  bottom: -1rem;
  background: var(--header-text);
  color: var(--light-color1);
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

form button:hover {
  background-color: #e23e57;
}

form button .valid {
  background-color: #88304e;
}

form button .invalid {
  background-color: #522546;
}
/*******************************************************************/

/****************************** NOTES ******************************/
.note {
  background: var(--note-bg);
  background: linear-gradient(0deg, rgba(8, 217, 214, 1) 0%, var(--note-bg) 100%);
  border-radius: 7px;
  box-shadow: 0 2px 5px var(--bg);
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note:hover {
  opacity: 0.92;
}

.note h1 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 6px;
  color: var(--note-header);
}

.note p {
  font-size: 1rem;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: var(--note-content);
}

.note button {
  background-color: transparent;
  color: var(--header-text);
  opacity: 9;
  border: none;
  margin: 2% 2%;
  cursor: pointer;
  outline: none;
}

.note button:hover {
  text-shadow: 0px 0px 10px #b34180b9;
}

.note button.btn-edit {
  position: relative;
  float: left;
}

.note button.btn-delete {
  position: relative;
  float: right;
}
/*******************************************************************/
